@using Infestation.ViewModels

@model List<HumanAuthorsViewModel>

<table class="table">
    <tr>

        <th>FirstName</th>
        <th>LastName</th>

        <th>NewsCount</th>
    </tr>
    @foreach (var author in Model)
    {
<tr>
    <td>@author.FirstName</td>
    <td>@author.LastName</td>

    <td><a asp-controller="News" asp-action="Index" asp-route-authorId="@author.AuthorId">@author.NewsCount</a></td>
</tr>
    }
</table>

