
@model Human


<form asp-controller="Human" asp-action="Create" method="post">

    <label asp-for="FirstName">FirstName</label><br />
    <input asp-for="FirstName" type="text" /><br />

    <label asp-for="LastName">LastName</label><br />
    <input asp-for="LastName" type="text" /><br />

    <label asp-for="Age">Age</label><br />
    <input asp-for="Age" type="number" /><br />

    <label asp-for="IsSick">IsSick</label><br />
    <input asp-for="IsSick" type="checkbox" /><br />

    <label asp-for="Gender">Gender</label><br />
    <input asp-for="Gender" type="text" /><br />

    <label asp-for="CountryId">CountryId</label><br />
    <input asp-for="CountryId" type="number" /><br />

    <button type="submit">Create human</button>

</form>
