@model TerrainUploadViewModel

@if (Model?.Stage == UploadStage.Completed)
{
    <h3>Upload completed</h3>
}
else
{
    <h3>Upload file</h3>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dd>
                <input asp-for="File" type="file">
                <span asp-validation-for="File"></span>
            </dd>
        </dl>
        <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
    </form>
}
